<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="sb.repository.mapper.TrnoGenMapper">

	<select id="S001" parameterType="map" resultType="java.util.HashMap" ><![CDATA[
SELECT /*sb.repository.mapper.TrnoGenMapper.S001*/
        ACNO  /*계좌번호*/
     , LAST_TR_NO  /*최종거래번호*/
     , LAST_TR_DT  /*최종거래일자*/
  FROM SB.RPD0100  /*채번*/
 WHERE ACNO = '${ACNO}'

]]>
	</select>


	<update id="U001" parameterType="map" ><![CDATA[
UPDATE /*sb.repository.mapper.TrnoGenMapper.U001*/
       SB.RPD0100
     SET LAST_TR_NO = ${LAST_TR_NO}
       , LAST_TR_DT = ${LAST_TR_DT}
       , OPRT_TR_DTM = DATE_FORMAT(SYSDATE(),'%Y%m%d%H%i%s')
 WHERE ACNO = '${ACNO}'
]]>
	</update>	
</mapper>